@media screen and (max-width: 1200px) {
  .articleBlock__row {
    margin-bottom: 20px;
  }
  .articleBlock__row--centered img {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1020px) {
  .mainBanner__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .mainBanner__text {
    margin-top: 30px;
  }

  .article__pin {
    display: none;
  }

  .steps__row {
    margin-bottom: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .steps__arrow {
    display: none;
  }
  .steps__item {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 900px) {
  .articleBlock__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .articleBlock__row--centered {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .articleBlock__paragraphBig {
    max-width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .articleBlock__paragraph {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .articleBlock__col {
    width: 100%;
  }
  .articleBlock__col:first-child {
    margin-right: 0;
  }
  .articleBlock__col img {
    display: block;
    max-width: 500px;
    margin-bottom: 20px;
  }

  .steps__item {
    max-width: 100%;
    border-radius: 50px;
  }

  .contact__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__form {
    margin-bottom: 20px;
  }
  .contact__col {
    width: 100%;
    max-width: 600px;
  }
  .contact__col:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__separator {
    margin-top: 20px;
  }

  .footer__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__col {
    max-width: 300px;
    margin-bottom: 10px;
  }
  .footer__icons {
    margin: 0;
  }
}
@media screen and (max-width: 550px) {
  .mainBanner__img img {
    width: 100%;
  }
  .mainBanner .absolute {
    display: none;
  }
  .mainBanner__title {
    font-size: 24px;
  }
  .mainBanner__upperTitle {
    font-size: 24px;
  }
  .mainBanner__subtitle {
    margin-top: 20px;
  }
  .mainBanner__button {
    margin-top: 20px;
  }

  .steps__item {
    font-size: 14px;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .content--open:before {
    content: "";
    display: block;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    right: 0;
  }

  .button {
    font-size: 13px;
  }

  .header__nav {
    margin-left: 0;
    border-bottom: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    right: 0;
    top: 0;
    background: #fff;
    max-width: 230px;
    z-index: 3;
    height: 100vh;
    padding-top: 80px;
    padding-left: 30px;
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    right: -230px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__nav--open {
    right: 0;
  }
  .header__link {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .header__toggler {
    display: block;
    z-index: 10;
    position: relative;
  }
  .header__toggler .header__toggler-line {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__toggler--open .header__toggler-line {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__toggler--open .header__toggler-line:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__toggler--open .header__toggler-line:nth-child(2) {
    opacity: 0;
  }
  .header__toggler--open .header__toggler-line:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .button {
    font-size: 13px;
    padding: 15px 25px;
  }

  .title {
    font-size: 24px;
  }

  .articleBlock__pin {
    display: none;
  }

  .footer__pin {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 20px;
  }

  .upperTitle {
    font-size: 20px;
  }

  .instagram__flexRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .instagram__headRow {
    margin-bottom: 20px;
  }
  .instagram__arrows {
    margin-bottom: 20px;
    height: 40px;
    margin-top: 0;
  }
  .instagram__arrows .arrow {
    margin-top: 0;
  }
}